body {
  margin: 0;
  padding: 0;
  -webkit-app-region: drag;
}

.hover {
  transition: opacity .3s ease-out;
  opacity: 0;
}

body:hover > .hover {
  opacity: 1;
}

#titlebar {
  position: absolute;
  z-index: 9999;
  width: 100%;
  height: 24px;
  background-color: #000;
}

#player {
  width: 100%;
  height: auto;
}

#controls {
  position: absolute;
  z-index: 9999;
  width: 350px;
  height: 50px;
  border-radius: 4px;
  background-color: rgba(0, 0, 0, .5);
}
